.transaction-history {
  margin: 0 auto;
  width: 320px;
  background: white;
  border-collapse: collapse;

  th {
    padding: 10px;
    border: 0.5px solid darken($color: #b0b9c080, $amount: 10);
    text-transform: uppercase;
    font-size: 18px;
  }
  td {
    border: 0.5px solid darken($color: #b0b9c080, $amount: 10);
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    &:first-child {
      padding: 5px;
      text-transform: capitalize;
    }
  }
  thead {
    tr {
      background: rgb(221, 212, 223);
    }
  }
  tbody {
    tr {
      background: rgb(247, 223, 247);
      &:nth-child(2n) {
        background: rgb(240, 233, 235);
      }
    }
  }
}
